body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f9fc;
}
header {
    background-color: #85d874;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s, border-radius 0.3s;
}

nav ul li a:hover {
    color: #fff;
    background-color: #0c7097;
    border-radius: 8px;
}


main{
    flex: 1;
    background-image: url('bgimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 20px;
}

.contact-section {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-section h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #333333;
    margin-bottom: 10px;
}

.contact-section p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: #666666;
    margin-bottom: 20px;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-section label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #333333;
    text-align: left;
}

.contact-section input,
.contact-section textarea {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.contact-section input:focus,
.contact-section textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

.contact-section textarea {
    height: 150px;
    resize: vertical;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, border-radius 0.3s;
}

.submit-button:hover {
    background-color: #45a049;
    border-radius: 10px;
}

footer {
        background-color: #31313f;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        position: relative;
        bottom: 0;
        width: 100%;
        margin-top: auto;
}